body {
 font-family: 'Quicksand', sans-serif;
 background-color: #1A181B;
 color: white;
}
h1{
  margin: 1em 0 0 0 ;
}

h1 img { 
  width: 70%;
  margin-block-start: 0.25em;
  margin-left: 0.25em;
}

@media (max-width:640px) {
  h1 img { 
    width: 70%;
    margin-block-start: 0.25em;
    margin-left: 0.25em;
  }
}

@media (max-width:500px) {
  h1 img { 
    width: 70%;
    margin-block-start: 0.25em;
    margin-left: 0.25em;
  }
}


#INSCRIBIR-SE {
  background: #05F140;
  color: white;
  text-decoration: none;
  padding: 8px;
  border-radius: 10px;
  position: fixed;
  right: 2em;
  top: 1em;
  z-index: 2;
}

#INSCRIBIR-SE:hover {
    background: #3E8989;
}

@media (max-width:600px) {
  #INSCRIBIR-SE {
    top: auto;
    bottom: 1em;
  }
}

#menu {
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
}

input {
  text-align: left;
  border-radius: 5px;
  border: 20px white;
  height: 40px;
  width: 240px;
}

.buscador{
  margin-bottom: 15px;
  margin-block-end: -0.15em;
  display: flex; 
  align-items: center;

}

.buttom {
  border-radius: 5px;
  border:none;
  padding: 5px;
  background: #3E8989;
  justify-content: right;
  color: white;
  height: 30px;
  margin-right: 10px;
  margin-left: 3px;
}

.buttom:hover { 
  background: #BDA8DD;
}

@media (max-width:900px){
  #menu{
    flex-wrap: wrap;
  }
  .buscador{ 
    width: 95%;
    margin-top: 1em;
    margin: 1em;
  }
  input{
    flex: 1;
  }
  .buttom {
   margin-left: 6px;
  }
}

#main-nav ul {
  background: #2CDA9D;
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 3px;
}

#main-nav ul li {
  display: flex;
  z-index: 3 ;
  position: relative;
}

#main-nav li a {
  text-decoration: none;
  padding: 1em 0.5em;
  color: white;
}

#main-nav li ul {
  display: none;
  min-width: 140px;
  position: absolute ;
  right: -150px;
}

#main-nav ul a:hover {
  box-shadow: inset 0 -3px #564D65;
}

#main-nav li:hover > ul {
  display: block;
  background: #3E8989;
 }

 #mainh {
   display: none;
 }

 label[for="mainh"] {
  display: none;
  position: fixed;
  right: 1em;
  top: 6%;
  width: 20%;
  margin-block-end: 1em; 
 }

@media (max-width:600px){
  label[for="mainh"] {
    display: inline;
}
  #mainh:checked ~ ul{
   display: block;
}
  #mainh ~ ul {
   display: none;
 } 
}

#slider-container {
  width: 100%;
  margin: auto;
  background: #564D65;
  margin-bottom: 15px;
  position: relative;
}

#slider-container img {
  max-width: 200px;
  margin: auto;
}

#slider-controls {
  display: flex;
  justify-content: space-between;
  color: white;
}

#slider-container .zeta{
  position: absolute;
  top: 50%;
  width: 30px;
  height: 30px;
  margin: 0% ;
  align-items: center;
}

div:first-child .zeta {
  left: -4px;
} 

div:last-child .zeta {
  right:-4px ;
} 

h2 {
  text-align: right;
  margin-block-start: 0px;
  margin-block-end: 0.83m;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: white;
  text-decoration: none;
}

.h2:hover {
  text-decoration: none;
  color: #BDA8DD; 
  transform: scale(1.02);
  opacity: 1;
}

a {
  text-align: right;
  margin-block-start: 0px;
  margin-block-end: 0.83m;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: white;
  text-decoration: none;
}

.categorias {
  background-color: #564D65;
  padding: 15px;  
  margin-bottom: 15px;
  text-align: center;
  margin-right : 20px;
  margin-left : 20px;
  }

.categorias a img:hover {
  background-color: #BDA8DD; 
  text-align: center;
  transform: scale(1.05);
  position: relative;
  bottom: 5px;
  opacity: 1;
}

.imgc {
  opacity: 1;
  width: 409x;
  height: 306px; 
}

.img {
  width: 409x;
  height: 306px;
  opacity: 0.7;
  margin-bottom: 15px;
  justify-content: space-between;
}

@media (max-width:500px) {
.categorias a:nth-child(3) img {
  display: none;
 }
}

@media (max-width:800px) {
.categorias a:nth-child(4) img {
  display: none;
 } 
}

@media (max-width:1200px) {
  .categorias a:nth-child(6) img,
  .categorias a:nth-child(5) img
   {
    display: none;
   }
}

.next {
  width: 18px;
  height: 18px;
  align-items: center;
}

.card {
  display: flex;
}

footer {
  padding: 1em 0;
  background: #3E8989;
  color: white;
  text-decoration: none;
}

footer div {
  display: inline-block;
  box-sizing: border-box;
  width: 33%;
  text-align: center;
}

footer div:last-child {
  padding-top: 1em;
  font-size: 12px;
  display: block;
  width: 100%;
}

@media (max-width:890px){
  footer div {
    display: block;
    justify-content: center;
    width: 100%;
  }
}
