body {
    font-family: 'Quicksand', sans-serif;
    background-color: #1A181B;
    color: white;
   }
   h1{
     margin: 1em 0 0 0 ;
   }
   
   h1 img { 
     width: 80%;
     margin-block-start: 0.25em;
     margin-left: 0.25em;
   }
   
   @media (max-width:640px) {
     h1{
       margin: 1em 0 0 0 ;
     }
   
     h1 img { 
       width: 80%;
       margin-block-start: 0.25em;
       margin-left: 0.25em;
     }
   }
   
   @media (max-width:500px) {
     h1{
       margin: 1em 0 0 0 ;
     } 
   
     h1 img { 
       width: 80%;
       margin-block-start: 0.25em;
       margin-left: 0.25em;
     }
   }
   
   #INSCRIBIR-SE {
     background: #05F140;
     color: white;
     text-decoration: none;
     padding: 8px;
     border-radius: 10px;
     position: fixed;
     right: 2em;
     top: 1em;
     z-index: 2;
   }
   
   #INSCRIBIR-SE:hover {
       background: #3E8989;
   }
   
   @media (max-width:600px) {
     #INSCRIBIR-SE {
       top: auto;
       bottom: 1em;
     }
   }
   
   #menu {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
   }
   
   input {
     text-align: left;
     border-radius: 5px;
     border: 20px white;
     height: 40px;
     width: 240px;
   }
   
   .buscador{
     margin-bottom: 15px;
     margin-block-end: -0.15em;
     display: flex; 
     align-items: center;
   
   }
   
   .buttom {
     border-radius: 5px;
     border:none;
     padding: 5px;
     background: #3E8989;
     justify-content: right;
     color: white;
     height: 30px;
     margin-right: 10px;
     margin-left: 3px;
   }
   
   .buttom:hover { 
     background: #BDA8DD;
   }
   
   @media (max-width:900px){
     #menu{
       flex-wrap: wrap;
     }
     .buscador{ 
       width: 95%;
       margin-top: 1em;
       margin: 1em;
     }
     input{
       flex: 1;
     }
     .buttom {
      margin-left: 6px;
     }
   }
   
   #main-nav ul {
     background: #2CDA9D;
     list-style: none;
     display: flex;
     justify-content: space-around;
     padding: 3px;
   }
   
   #main-nav ul li {
     display: flex;
     z-index: 3 ;
     position: relative;
   }
   
   #main-nav li a {
     text-decoration: none;
     padding: 1em 0.5em;
     color: white;
   }
   
   #main-nav li ul {
     display: none;
     min-width: 140px;
     position: absolute ;
     right: -150px;
   }
   
   #main-nav ul a:hover {
     box-shadow: inset 0 -3px #564D65;
   }
   
   #main-nav li:hover > ul {
     display: block;
     background: #3E8989;
    }
   
    #mainh {
      display: none;
    }
   
    label[for="mainh"] {
     display: none;
     position: absolute;
     right: 10px;
     top: 11%;
     width: 15%;
     margin-block-end: 1em;
    }
   
   @media (max-width:600px){
     label[for="mainh"] {
       display: inline;
   }
     #mainh:checked ~ ul{
      display: block;
   }
     #mainh ~ ul {
      display: none;
    } 
   }
    
   #alinear {
    display: flex;
    justify-content: center;
} 

    p {
    width: 40%;
    text-align: justify;
    background: #564D65;
    padding: 20px;
    border-radius: 5px;
   }

   #img {
       width: 400px;
       margin-left: 25px;
       margin-block-end: 15px;
       border-radius: 5px;
       margin-top: 15px;
   }

   @media (max-width:750px) {

    #alinear {
        display: block;
        justify-content: center;
        margin-left: 10%;
    } 
    

    p {
        width: 80%;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
       }
    
       #img {
           width: 88%;
           justify-content: center;
           margin-block-start: 1em;
           margin-block-end: 1em;
           margin-left: 0em;
           margin-inline-end: 1em ;
       }


   }

   
   footer {
    padding: 1em 0;
    background: #3E8989;
    color: white;
    text-decoration: none;
  }
  
  footer div {
    display: inline-block;
    box-sizing: border-box;
    width: 33%;
    text-align: center;
  }
  
  footer div:last-child {
    padding-top: 1em;
    font-size: 12px;
    display: block;
    width: 100%;
  }
  
  @media (max-width:890px){
    footer div {
      display: block;
      justify-content: center;
      width: 100%;
    }
  }
  
  